{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}


{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'users/css/user_chat.css' %}">
{% endblock %}

{% block content %}
    


<div class="chat">

  <div class="block_title_chat">
    <h3 class="title_chat">Messages between {{ sender.username }} and {{ reciever.username }}</h3>
  </div>
  
  <div class="background">
    <div class="messages">

      <div class="block_list_messages" id="messages-container">
        {% for one_message in messages %}
          {% if one_message.sender == request.user  %}
            <div class="sender">
              <div class="info_about_message">{{ one_message.time_stamp }} | {{ one_message.sender.username }}</div>
              <div class="text_message">
                {{ one_message.message|insert_linebreaks|safe }}
              </div>
            </div>
          {% else %}
            <div class="reciever">
              <div class="info_about_message">{{ one_message.time_stamp }} | {{ one_message.sender.username }}</div>
              <div class="text_message">
                {{ one_message.message|insert_linebreaks|safe }}
              </div>
            </div>
          {% endif %}
        {% endfor %}
      </div>

      <div class="block_send_messages">
        <form method="post">
            <div class="block_send_messages_in_form">
              <div class="block_form_field">
                {% csrf_token %}
                <textarea class="input_form_msg" wrap="hard"  name="message" oninput="autoExpandTextarea(this)"></textarea>
                
              </div>
              <div class="block_btn_send_msg">
                <button class="btn_send_msg" type="submit"></button>
              </div>
            </div>
        </form> 
      </div>

    </div>
  </div>
</div>


  <script>
    // Функция для скролла в конец  перписки при открытии чата
    document.addEventListener("DOMContentLoaded", function() {
    var messagesContainer = document.getElementById("messages-container");

    if (messagesContainer) {
        messagesContainer.scrollTop = messagesContainer.scrollHeight;
    }
    });


    // Функция для автоматического изменения высоты textarea
    function autoExpandTextarea(element) {
      var maxHeight = 200;
      element.style.height = 'auto';
      element.style.height = (Math.min(element.scrollHeight, maxHeight)) + 'px';
    }



    function autoExpandTextarea(element) {
      // Максимальное количество строк (рядов)
      const maxRows = 5;

      // Устанавливаем высоту в auto для пересчета
      element.style.height = "auto";

      // Устанавливаем высоту в новое значение
      element.style.height = Math.min(element.scrollHeight, maxRows * parseFloat(getComputedStyle(element).lineHeight)) + "px";
    }

    // Привязываем функцию к каждому textarea с классом text_message_area
    document.addEventListener("input", function (e) {
      if (e.target.tagName.toLowerCase() === "textarea" && e.target.classList.contains("text_message_area")) {
        autoExpandTextarea(e.target);
      }
    });



  </script>

{% endblock %}
