.main_block {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
  }

  .chats_list{
    margin-right: 50px;
    width: 300px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .title_chat {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .chat {
    display: flex;
    flex-direction: column;
  }
  
  .messages {
    display: flex;
    flex-direction: column;
    height: 400px; /* Ограничение высоты блока сообщений */
    overflow-y: auto; /* Полосы прокрутки, если сообщений слишком много */
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    width: 1000px;
    padding-left: 200px;
    padding-right: 200px;
    background-color: rgb(185, 245, 245);
  }
  
  .sender {
    align-self: flex-start;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    width: 300px;
  }

  .reciever {
    align-self: flex-end;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    width: 300px;
    
  }
  
  .sender .info_about_message, .reciever .info_about_message {
    font-size: 12px;
    color: #666;
  }
  
  .sender .text_message, .reciever .text_message {
    font-size: 16px;
  }
  
  /* ================================================ БЛОК ОТПРАВКИ СООБЩЕНИЙ ============================================== */
  .block_send_messages {
    position: sticky;
    bottom: 0;
    width: 100%;
  }

  .block_send_messages_in_form{
    display: flex;
    flex-direction: row;
    
  }

  .block_form_field{
    
  }

  .input_form_msg{
    width: 600px;
    
    resize: none;
  }

  .block_btn_send_msg{

  }
  
  .btn_send_msg {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 50px;
  }
  
  .btn_send_msg:hover {
    background-color: #0056b3;
  }
  