

 
  
  .title_chat {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .chat {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid black;
  }
  
  .background{
    height: 100vh; /* Ограничение высоты блока сообщений */
    background-color: rgb(185, 245, 245);   
  }

  .messages {
    display: flex;
    flex-direction: column;
    height: 85%; /* Ограничение высоты блока сообщений */
    background-color: rgb(185, 245, 245);   
  }

  .block_list_messages{
    width: 1000px;
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    flex-grow: 1; /* Замените height: 90% и overflow-y: auto; на flex-grow: 1; */
    overflow-y: auto; /* Добавьте overflow-y: auto; */
    overflow-x: hidden;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .sender {
    align-self: flex-start;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    width: 300px;
    flex-grow: 1;
    
  }

  .reciever {
    align-self: flex-end;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background-color: white;
    width: 300px;
    box-sizing: border-box;
    flex-grow: 1;
    
  }

  
  .info_about_message {
      font-size: 12px;
      color: #666;
    }

  .text_message{
    flex-grow: 1; /* Растягивание textarea внутри блока sender/receiver */
    
    width: 300px;
  }

  .text_message_area{
    font-size: 16px;
    resize: none;
    border: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
    overflow-y: hidden; /* Скрытие вертикальной полосы прокрутки */
    flex-grow: 1;
    
    height:min-content;
  }
  
  /* ================================================ БЛОК ОТПРАВКИ СООБЩЕНИЙ ============================================== */
  .block_send_messages {
    
    width: 100%;
  }

  .block_send_messages_in_form{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .block_form_field{
    margin: 10px;
  }

  .input_form_msg {
    width: 500px;
    min-height: 50px; 
    resize: none;
}

  .block_btn_send_msg{
    margin-left: 10px;
  }
  
  .btn_send_msg {
    width: 50px; /* Регулируйте ширину кнопки */
    height: 50px; /* Регулируйте высоту кнопки */
    border-radius: 50%; /* Устанавливаем радиус скругления в половину ширины и высоты */
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .btn_send_msg:hover {
    background-color: #0056b3;
  }
  